{% extends "layout.html" %}

{% block title %}chai page{% endblock %}

{% block content %}<h1>Welcome to all_chai home page!</h1>
<div class="grid grid-cols-3 gap-4 m-4">


    {% for chai in chais %}
    <div class="bg-blue-500 p-5">
        <img class="rounded" src="{{chai.image.url}}" alt="chai_images">
 <h3>{{ chai.name }} </h3> 


 <a href="{% url 'chai_detail' chai.id %}">

    
<button type = "button" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
  {{chai.type}} - {{chai.id}}
  </button>

 </a>     
    </div>
    {% endfor %}
</div>




{% endblock %}

